USE [MvcDbStock]
GO
/****** Object:  Table [dbo].[TBLKATEGORILER]    Script Date: 28.02.2022 23:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORILER](
	[KATEGORIID] [smallint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 28.02.2022 23:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 28.02.2022 23:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 28.02.2022 23:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[URUNKATEGORI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[MARKA] [varchar](50) NULL,
	[STOK] [tinyint] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] ON 

INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (1, N'BEYAZ ESYA')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (2, N'KÜÇÜK EV ALETLERI')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (3, N'BILGISAYAR')
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'BÜSRA', N'ÖZTÜRK')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'EMEL', N'ÇINAR')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (3, N'ALII', N'YILDIZZ')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] ON 

INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (1, 1, 1, 1, CAST(1250.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (2, 1, 3, 1, CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (3, 1, 3, 5, CAST(1500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATEGORI], [FIYAT], [MARKA], [STOK]) VALUES (1, N'ÇAMASIR MAKINESI', 1, CAST(1235.00 AS Decimal(18, 2)), N'ARÇELIK', 25)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATEGORI], [FIYAT], [MARKA], [STOK]) VALUES (2, N'BULASIK MAKINESI', 1, CAST(2000.00 AS Decimal(18, 2)), N'ARÇELIK', 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATEGORI], [FIYAT], [MARKA], [STOK]) VALUES (3, N'SU ISITICI', 2, CAST(100.00 AS Decimal(18, 2)), N'VESTEL', 50)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORILER] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER]
GO
